<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://120.76.56.158:3306/sh?useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Zdh666Gqy@@</property>
        <!--<property name="connection.password">JIUbugaosuni::</property>-->
        <!--<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.min_size">2</property>

        <!--<mapping class="com.schoolhepler.model.Junk"/>-->
        <!--<mapping class="com.schoolhepler.model.LostThing"/>-->
        <!--<mapping class="com.schoolhepler.model.User"/>-->


    </session-factory>

</hibernate-configuration>