<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>细胞盒子</title>
    <script type="application/javascript" src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/element_index.css">
    <script type="application/javascript" src="lib/element_index.js"></script>
    <script type="application/javascript" src="lib/axios.js"></script>
    <script type="application/javascript" src="lib/qs.js"></script>

</head>
<body>

<div id="app">
    <el-button type="primary" v-for='btn in btns' @click="openBox">{{btn.name}}</el-button>
    <!--    <el-button type="primary" v-for='btn in btns' @click="open(btn)">{{btn.name}}</el-button>-->
    <el-button type="primary" @click="addMsgVisible = true;isAdd = true"
               class="el-icon-circle-plus-outline"></el-button>

<!--    <el-dialog-->
<!--            :title="boxTitle"-->
<!--            :visible.sync="dialogVisible"-->
<!--            width="30%">-->
<!--        <div v-for="boxv in box.box">-->
<!--            <el-button type="primary" v-for='bh in boxv' @click="openMsg(bh)">{{bh}}</el-button>-->
<!--        </div>-->
<!--        <span slot="footer" class="dialog-footer">-->
<!--            <el-button @click="dialogVisible = false">取 消</el-button>-->
<!--        </span>-->
<!--    </el-dialog>-->


    <el-dialog
            id="box"
            :title="isAdd ? '添加' : box.name"
            :visible.sync="addMsgVisible"
            @close="boxClose"
            width="80%">

        <el-form :model="box">
            <el-row v-if="isAdd">
                <el-col :offset="3" :span="6">
                    <el-form-item label="">
                        <el-input v-model="box.name" placeholder="请输入名称"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row v-for="(bv, i) in box.box" :gutter="20">
                <el-col :offset="3">
                    <el-col :span="2" v-for='(bh, j) in bv'>
                        <el-form-item label="">
                            <el-input v-model="box.box[i][j].name"></el-input>
                            <!--<el-button v-model="box.box[i][j]" type="primary" >233</el-button>-->
                        </el-form-item>
                    </el-col>
                </el-col>
            </el-row>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="addMsgVisible = false">取 消</el-button>
            <el-button v-if="isAdd" @click="addMsg">确 定</el-button>
        </span>
    </el-dialog>

</div>

</body>
</html>


<script>
    new Vue({
        el: '#app',
        data: {
            btns: [
                {
                    name: '盒子1',
                    box: [
                        ['1,1', '1,2', '1,3'],
                        ['1,4', '1,5', '1,6'],
                        ['1,7', '1,8', '1,9']
                    ]
                },
                {
                    name: '盒子2',
                    box: [
                        ['2.1', '2.2', '2.3'],
                        ['2.4', '2.5', '2.6'],
                        ['2.7', '2.8', '2.9']
                    ]
                }
            ],
            boxIndex: 0,
            msg: '信息信息信息信息信息信息信息信息信息信息信息',
            dialogVisible: false,
            msgVisible: false,
            addMsgVisible: false,
            boxTitle: 'boxTitle',
            msgTitle: 'msgTitle',
            box: {
                box: [[]],
                name:''
            },
            isAdd: false
        },
        beforeCreate: function () {

        },
        mounted: function () {
            this.initBox()
        },
        methods: {
            open(btn) {
                console.log(btn)
                // this.boxIndex = i
                this.boxTitle = btn.name
                this.box = btn
                console.log(this.box)
                this.dialogVisible = true
            },
            openMsg(bh) {
                this.msgTitle = bh
                this.msgVisible = true

            },
            addMsg() {
                console.log(this.box)
                axios.post("box", this.box)
                    .then(function (value) {
                        if (value.data === 1) {
                            alert("添加成功")
                            this.addMsgVisible = false

                        } else {
                            alert("添加失败")
                        }
                        console.log(value)
                    })
                    .catch(function (reason) {
                        console.log(reason)
                    })
            },
            boxClose() {
                this.initBox()
            },
            initBox() {
                var box = []
                for (var i = 0; i < 9; i++) {
                    box[i] = []
                    for (var j = 0; j < 9; j++) {
                        box[i][j] = {}
                    }
                }
                this.box.box = box
                this.box.name = ''
            },
            openBox() {
                this.addMsgVisible = true
                this.isAdd = false

                axios.get("box")
                    .then(function (value) {
                        console.log(value)
                    })
                    .catch(function (reason) {
                        console.log(reason)
                    })
            }

        }
    })
</script>